body {
  background-repeat: repeat;
  background-position: top left;
  background-image: url("/static/images/topography.png");
  color: #402f1d;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Do Hyeon',Helvetica,sans-serif;
  margin-top: 0;
  margin-bottom: .3rem; }

html {
  font-family: 'Noto Sans', sans-serif; }

p {
  line-height: 1.8;
  margin-top: 0; }

.main-container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #9b932a;
  border-color: #5f5a1a;
  text-decoration: none;
  transition: all .25s ease-in-out; }
  .btn:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

fieldset {
  display: block;
  margin: 0 .5rem; }
  fieldset label {
    display: block; }
  fieldset input, fieldset textarea {
    width: 100%; }

section.hero img {
  display: block; }

section.side-hug {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #afa62f;
  border-bottom: 5px solid #afa62f; }
  section.side-hug.with-padding {
    padding: 2rem 1rem; }
  section.side-hug .item.text-left,
  section.side-hug .item.text-right {
    padding: 2rem 1rem 0; }
  section.side-hug img {
    display: block; }
  section.side-hug iframe {
    display: block; }

footer {
  padding: 1rem; }
  footer .map-container {
    margin: 0 -1rem; }

@media (min-width: 992px) {
  .main-container {
    width: 970px; }
  section.hero {
    max-height: 300px;
    overflow: hidden; }
    section.hero img {
      position: relative;
      bottom: 190px; }
  footer .map-container {
    margin: 0; } }

@media (min-width: 1170px) {
  .main-container {
    width: 1170px; }
  section.hero img {
    bottom: 270px; } }
